/* fonts Styles -->

font-family: 'Jomolhari', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Modak', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Aclonica', sans-serif;*/

/*--------------------------------------------------------------
# Geral
--------------------------------------------------------------*/
<style>
    .titles {
      text-align: justify;
      padding: 0.5em;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      background-color: rgb(255, 255, 255);
    }
    .titles:after {
      content: "";
      display: table;
      clear: both;
    }
    .title-prev {
      width: 45%;
      float: left;
      cursor: pointer;
    }
    .title-next {
      text-align: right;
      width: 45%;
      float: right;
      cursor: pointer;
    }
  </style>